@page
@model IndexModel

<main class="main default space-top-10">

    @await Component.InvokeAsync("Slider")

    <div class="container space-top-50 ">
        @await Component.InvokeAsync("ProductCategory")
        <div class="row">
            <div class="col-12">
                <div class="row banner-ads">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 col-lg-3">
                                <div class="widget-banner card border_all">
                                    <a href="category-search.html" target="_blank">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="widget-banner card">
                                    <a href="category-search.html" target="_top">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-4.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="widget-banner card border_all">
                                    <a href="category-search.html" target="_blank">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-5.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="widget-banner card">
                                    <a href="category-search.html" target="_top">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-6.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                @await Component.InvokeAsync("AmazingProducts")

                <div class="row banner-ads">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="widget-banner card border_all">
                                    <a href="category-search.html" target="_blank">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-7.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="widget-banner card">
                                    <a href="category-search.html" target="_top">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-8.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @await Component.InvokeAsync("BestSellingProducts")
            </div>

        </div>
        <div class="row banner-ads">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="widget widget-banner card border_all">
                            <a href="category-search.html" target="_blank">
                                <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-9.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="brand-slider card border_all bglight">
                    <header class="card-header">
                        <h3 class="card-title"><span>محبوب‌ترین برندها</span></h3>
                    </header>
                    <div class="owl-carousel">
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-1.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-2.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-3.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-4.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-5.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-6.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-7.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-8.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-9.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-10.jpg" alt=""> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>