@page
@model IndexModel

<main class="main default space-top-10">

    @await Component.InvokeAsync("Slider")

    <div class="container space-top-50 ">
        @await Component.InvokeAsync("ProductCategory")
        <div class="row">
            <div class="col-12">
                <div class="row banner-ads">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 col-lg-3">
                                <div class="widget-banner card border_all">
                                    <a href="category-search.html" target="_blank">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="widget-banner card">
                                    <a href="category-search.html" target="_top">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-4.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="widget-banner card border_all">
                                    <a href="category-search.html" target="_blank">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-5.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="widget-banner card">
                                    <a href="category-search.html" target="_top">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-6.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="widget widget-product card border_all bglight pad_time_prod" id="shegeft_1">
                            <header class="card-header">
                                <h3 class="card-title">
                                    <span>
                                        <img src="~/Theme/assets/img/shegeft_1.png" />
                                    </span>
                                </h3>
                                <div class="countdown-timer" countdown data-date="06 12 2023 20:20:22">
                                    <ul class="text_countdown">
                                        <li data-days class="number_countdown">0</li>
                                        <li>روز</li>
                                    </ul>
                                    <ul class="text_countdown">
                                        <li data-hours class="number_countdown">0</li>
                                        <li>ساعت</li>
                                    </ul>
                                    <ul class="text_countdown">
                                        <li data-minutes class="number_countdown">0</li>
                                        <li>دقیقه</li>
                                    </ul>
                                    <ul class="text_countdown">
                                        <li data-seconds class="number_countdown">0</li>
                                        <li>ثانیه</li>
                                    </ul>
                                </div>
                            </header>
                            <div class="product-carousel owl-carousel owl-theme">
                                <div class="item">
                                    <a href="single-product.html">
                                        <img src="~/Theme/assets/img/product_img/p_14.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="single-product.html"> کیبورد مخصوص بازی برند تی دگر </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>735,000<span>تومان</span></span></del>
                                        <span class="discount_badge">2%</span>
                                        <ins><span>665,000<span>تومان</span></span></ins>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="single-product.html">
                                        <img src="~/Theme/assets/img/product_img/p_2.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="single-product.html"> هندزفری بلوتوث مدل انکر با فرکانس بالا </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>290,000<span>تومان</span></span></del>
                                        <span class="discount_badge">2%</span>

                                        <ins><span>180,000<span>تومان</span></span></ins>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="single-product.html">
                                        <img src="~/Theme/assets/img/product_img/p_12.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="single-product.html"> کنسول بازی Playstation 5 با هارد 870 مگابایت </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>29,799,000<span>تومان</span></span></del>
                                        <span class="discount_badge">2%</span>

                                        <ins><span>26,699,000<span>تومان</span></span></ins>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="single-product.html">
                                        <img src="~/Theme/assets/img/product_img/p_6.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="single-product.html"> ساعت هوشمند مقاوم در برابر آب امیزفیت </a>
                                    </h2>
                                    <div class="price">
                                        <span>9,780,000<span>تومان</span></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="single-product.html">
                                        <img src="~/Theme/assets/img/product_img/p_10.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="single-product.html"> گوشی موبایل شیائومی مدل Poco X4 Pro </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>13,500,000<span>تومان</span></span></del>
                                        <span class="discount_badge">2%</span>

                                        <ins><span>12,000,000<span>تومان</span></span></ins>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="single-product.html">
                                        <img src="~/Theme/assets/img/product_img/p_7.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="single-product.html"> گوشی موبایل اپل مدل Iphone 13 Pro Max </a>
                                    </h2>
                                    <div class="price">
                                        <span>72,279,000<span>تومان</span></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="single-product.html">
                                        <img src="~/Theme/assets/img/product_img/p_17.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="single-product.html"> گوشی موبایل سامسونگ مدل گلکسی A23 </a>
                                    </h2>
                                    <div class="price">
                                        <span>32,279,000<span>تومان</span></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="single-product.html">
                                        <img src="~/Theme/assets/img/product_img/p_9.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="single-product.html"> گوشی موبایل شیائومی مدل Poco X4 Pro 5G </a>
                                    </h2>
                                    <div class="price">
                                        <span>15,279,000<span>تومان</span></span>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="view_more">مشاهده بیشتر</a>

                        </div>
                    </div>
                </div>
                <div class="row banner-ads">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="widget-banner card border_all">
                                    <a href="category-search.html" target="_blank">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-7.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="widget-banner card">
                                    <a href="category-search.html" target="_top">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-8.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="widget widget-product card border_all bglight">
                            <header class="card-header">
                                <h3 class="card-title">
                                    <span><img src="~/Theme/assets/img/seller_1.png" /></span>
                                </h3>
                            </header>
                            <div class="product-carousel owl-carousel owl-theme">
                                <div class="item">
                                    <a href="#">
                                        <img src="~/Theme/assets/img/product_img/p_9.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="#"> گوشی شیائومی مدل Poco X4 Pro 5G </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>13,159,000<span>تومان</span></span></del>
                                        <span class="discount_badge">5%</span>

                                        <ins><span>12,000,000<span>تومان</span></span></ins>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="~/Theme/assets/img/product_img/p_7.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="#"> گوشی اپل مدل Iphone 13 Pro Max </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>72,990,000<span>تومان</span></span></del>
                                        <span class="discount_badge">2%</span>

                                        <ins><span>68,280,000<span>تومان</span></span></ins>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="~/Theme/assets/img/product_img/p_15.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="#"> گوشی موبایل سامسونگ گلکسی A32 </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>18,799,000<span>تومان</span></span></del>
                                        <span class="discount_badge">2%</span>

                                        <ins><span>16,699,000<span>تومان</span></span></ins>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="~/Theme/assets/img/product_img/p_17.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="#"> گوشی موبایل سامسونگ گلکسی A23</a>
                                    </h2>
                                    <div class="price">
                                        <span>15,780,000<span>تومان</span></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="~/Theme/assets/img/product_img/p_19.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="#"> گوشی موبایل ردمی نوت 11SE شیائومی </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>25,156,000<span>تومان</span></span></del>
                                        <span class="discount_badge">2%</span>

                                        <ins><span>16,255,000<span>تومان</span></span></ins>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="~/Theme/assets/img/product_img/p_21.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="#"> اپل مدل Iphone 14 Pro Max </a>
                                    </h2>
                                    <div class="price">
                                        <span>79,279,000<span>تومان</span></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="~/Theme/assets/img/product_img/p_20.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="#"> گوشی موبایل ردمی نوت 15 شیائومی </a>
                                    </h2>
                                    <div class="price">
                                        <span>28,450,000<span>تومان</span></span>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="view_more">مشاهده بیشتر </a>

                        </div>
                    </div>
                </div>



            </div>

        </div>
        <div class="row banner-ads">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="widget widget-banner card border_all">
                            <a href="category-search.html" target="_blank">
                                <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-9.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="brand-slider card border_all bglight">
                    <header class="card-header">
                        <h3 class="card-title"><span>محبوب‌ترین برندها</span></h3>
                    </header>
                    <div class="owl-carousel">
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-1.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-2.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-3.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-4.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-5.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-6.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-7.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-8.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-9.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-10.jpg" alt=""> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>