@page
@model ServiceHost.Pages.LoginModel
@{
}

<div class="container">
    <div class="row">
        <div class="main-content login_content  col-12 col-md-7 col-lg-5 mx-auto">
            <header class="card-header">
                <h3 class="card-title"><span>ورود به حساب کاربری</span></h3>
            </header>
            <div class="login_box">

                @if (!string.IsNullOrEmpty(Model.Message))
                {
                    <div class="alert alert-danger">@Model.Message</div>
                }

                <form method="post">
                    <input type="hidden" name="returnUrl" value="@Request.Query["returnUrl"].ToString()" />
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-account-title"><span>*</span> نام کاربری</div>
                            <div class="form-account-row">
                                <input class="input_second input_all" type="text" name="username" placeholder=" نام کاربری شما">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-account-title"><span>*</span> کلمه عبور</div>
                            <div class="form-account-row">
                                <input class="input_second input_all" type="password" name="password" placeholder=" کلمه عبور شما">
                            </div>
                        </div>


                        <div class="col-12">
                            <a class="faramooshi">رمز عبور را فراموش کرده اید؟</a>
                        </div>
                        <div class="col-12 text--center">
                            <button type="submit" class="btn big_btn btn-main-masai">ورود</button>
                        </div>
                        <div class="col-12 footer_login_reg text--center">
                            <p>
                                <span>کاربر جدید هستید؟</span>
                                <a asp-page="/Register">ثبت نام</a>
                            </p>

                        </div>
                        <div class="col-12 ">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>