@model AccountManagement.Application.Contracts.Account.EditAccount
@{
}

<div class="modal-header">
    <h4 class="title" id="largeModalLabel">ویرایش کاربر : @Model.FullName</h4>
</div>

<form asp-page="./Index" asp-page-handler="Edit" method="post" data-ajax="true" data-callback="" data-action="Refresh" enctype="multipart/form-data">
    <div class="modal-body">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FullName" class="control-label">نام و نام خانوداگی</label>
                    <input type="text" class="form-control" asp-for="FullName">
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="RoleId" class="control-label">نقش کاربر</label>
                    <select class="form-control" asp-for="RoleId" asp-items='new SelectList(Model.Roles,"Id","Name")'>
                        <option value="0">انتخاب کنید</option>
                    </select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="UserName" class="control-label">نام کاربری</label>
                    <input type="text" class="form-control" asp-for="UserName">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Mobile" class="control-label">شماره موبایل</label>
                    <input type="text" class="form-control" asp-for="Mobile">
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
            </div>
        </div>

        <input type="hidden" asp-for="Id" value="@Model.Id" />

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-warning waves-effect waves-light">ویرایش</button>
    </div>
</form>