@model List<_01_DigiOneQuery.Contracts.Slider.SliderQueryModel>

<div class="container-fluid">
    <div class="slider_main owl-carousel owl-theme">
        @foreach (var item in Model)
        {
            <div class="item">
                <a href="@item.Link">
                    <svg xmlns="http://www.w3.org/2000/svg" class="svg_Masai" width="231" height="75" viewBox="0 0 231 75" fill="none" style="float: right;margin-bottom: -100px;position: relative;z-index: 9;margin-top: 0px;margin-right: 30px;">
                        <path clip-rule="evenodd" d="M0 0C31.5006 0.949537 50.52 17.872 56.1955 26.4544L55.986 25.8011L82.4924 58.631C99.3032 79.4521 131.038 79.4521 147.849 58.6309L174.356 25.8011L174.146 26.4544C179.822 17.872 198.844 0.949537 230.349 0H0Z" fill="#FCFCFC" fill-rule="" style="fill: #fff;"></path>
                    </svg>
                    <img src="~/Upload/@item.Picture" class="img-fluid imgslider" alt="@item.PictureAlt" title="@item.PictureTitle">
                </a>
            </div>
        }
    </div>
</div>